# Sequences

<li> <b> List </b> ( Mutable ) </li>
<li> <b> Tuple </b> ( Immutable ) </li>
<li> <b> String</b> ( Immutable ) </li>

In [37]:
import webbrowser

### Sequence properties

<li> Positional Ordering </li>
<li> Iterable </li>
<li> Homogeneous or  Heterogeneous </li>

### Positional Ordering
Access elements based on a positional index \n 
Indexes start at 0

In [3]:
## Create a list - square brackets
my_lst = [1,2,3,4,5]

In [4]:
## Create a Tuple - ()
my_tup = (10,20,30,40,50)

In [5]:
## Create a string ''
my_str = 'abcde'

In [6]:
my_lst[2], my_tup[3], my_str[1]

(3, 40, 'b')

##### Slicing

In [7]:
list(enumerate(my_str))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e')]

In [9]:
my_str[1:4]

'bcd'

In [10]:
list(enumerate(my_tup))

[(0, 10), (1, 20), (2, 30), (3, 40), (4, 50)]

In [12]:
my_tup[:4]

(10, 20, 30, 40)

In [13]:
list(enumerate(my_lst))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5)]

In [14]:
my_lst[2:]

[3, 4, 5]

In [15]:
my_lst[:]

[1, 2, 3, 4, 5]

In [16]:
my_lst[::2]

[1, 3, 5]

In [17]:
my_lst[4:2:-1]

[5, 4]

In [19]:
## Reverse the list
my_lst[::-1]

[5, 4, 3, 2, 1]

In [21]:
str1 = 'python'
str1[::-1]

'nohtyp'

### Sequences are Iterable

In [22]:
for elem in my_lst:
    print(elem)

1
2
3
4
5

In [23]:
for x in my_tup:
    print(x)

10
20
30
40
50

In [24]:
for c in 'python':
    print(c)

p
y
t
h
o
n

### Homogeneous or Heterogeneous

In [29]:
### Lists are heterogeneous
lst = ['a', 1.5, 2,'x']
lst

['a', 1.5, 2, 'x']

In [30]:
### Tuples can be heterogeneous
tup = ('a', 1.5, 2,'x')
tup

('a', 1.5, 2, 'x')

In [31]:
### Strings are homogeneous
str = 'python3.0'
str

'python3.0'

### Variable unpacking

In [1]:
x,y,z = [1,2,3]
y

2

In [2]:
x,y,z = (10,20,30)
z

30

In [4]:
x,y,z = 'abc'
x

'a'

## List

In [38]:
website = 'https://docs.python.org/3/library/stdtypes.html#list'
webbrowser.open(website)

True

##### Mutable
Hence we can add, remove elements from a list

##### Add elements

In [33]:
lst.append(10)
lst

['a', 1.5, 2, 'x', 10]

In [34]:
lst.append([1,23])

In [35]:
lst

['a', 1.5, 2, 'x', 10, [1, 23]]

In [39]:
lst[1] = 3
lst

['a', 3, 2, 'x', 10, [1, 23]]

In [40]:
## Replace with an iterable
## Need not be the same length as the slice
lst[1:4] = [22,33]
lst

['a', 2, 3, 10, [1, 23]]

In [41]:
### s.insert(i,x) - insert x at ith position
lst.insert(3,100)
lst

['a', 2, 3, 100, 10, [1, 23]]

##### Remove elements

In [42]:
lst = [11,22,33,44,55,66,77,88,99,100]

In [44]:
del lst[2:5]
lst

[11, 22, 66, 77, 88, 99, 100]

In [45]:
del lst[1]
lst

[11, 66, 77, 88, 99, 100]

In [46]:
lst.pop(2)

77

In [47]:
lst

[11, 66, 88, 99, 100]

In [48]:
lst.pop()

100

In [50]:
lst.clear()
lst

[]

##### Reverse

In [51]:
## Reverse in place
lst = [11,22,33,44,55,66,77,88,99,100]
lst.reverse()
lst

[100, 99, 88, 77, 66, 55, 44, 33, 22, 11]

##### Sort

In [52]:
lst.sort()
lst

[11, 22, 33, 44, 55, 66, 77, 88, 99, 100]

In [54]:
lst.sort(reverse = True)
lst

[100, 99, 88, 77, 66, 55, 44, 33, 22, 11]

In [55]:
def myFunc(e):
  return len(e)

In [56]:
lst = ['java','python','c++','c','javascript']
lst

['java', 'python', 'c++', 'c', 'javascript']

In [58]:
lst.sort(key=myFunc, reverse=True)
lst

['javascript', 'python', 'java', 'c++', 'c']

#### List comprehension
A list comprehension is language construct that allows to easily build a list by transforming, and optionally, 
 filtering, another iterable.

In [60]:
squares = []  # create an empty list
for i in range(1, 6):
    squares.append(i**2)
squares

[1, 4, 9, 16, 25]

In [61]:
## Using list comprehension
squlic = [i**2 for i in range(1, 6)]
squlic

[1, 4, 9, 16, 25]

In [64]:
squares = []
for i in range(1, 11):
    if i % 2 == 0:
        squares.append(i**2)
squares

[4, 16, 36, 64, 100]

In [65]:
## Using list comprehension
squlic = [i**2 for i in range(1, 6) if i%2 == 0]
squlic

[4, 16]

In [117]:
number = 100
l = [number * i for i in range(1,6)]
l

[100, 200, 300, 400, 500]

In [116]:
s = [i for i in range(100,600,100)]
s

[100, 200, 300, 400, 500]

## Tuple

In [6]:
website = 'https://docs.python.org/3/library/stdtypes.html#tuple'
webbrowser.open(website)

True

<p> Tuples are immutable. So we cannot add, remove or modify the contents of a tuple </p>
<p> But the elements of a tuple can be mutable objects </p>

In [69]:
tup1 = (1,2,3)
tup1[0] = 10

TypeError: 'tuple' object does not support item assignment

In [75]:
tup2 = ([1,2],[3,4],[5,6])
tup2

([1, 2], [3, 4], [5, 6])

In [76]:
tup2[0].append(10)
tup2

([1, 2, 10], [3, 4], [5, 6])

In [77]:
tup2[1][0] = 13
tup2

([1, 2, 10], [13, 4], [5, 6])

## Strings

In [78]:
website = 'https://docs.python.org/3/library/stdtypes.html#str'
webbrowser.open(website)

True

In [79]:
my_str = 'python'
my_str.capitalize()

'Python'

In [114]:
'hello world'.title()

'Hello World'

In [81]:
my_str.endswith('on'), my_str.endswith('fy')

(True, False)

In [113]:
my_str.startswith('py'), my_str.startswith('fy')

(True, False)

In [83]:
my_str = 'pythonista'

In [84]:
my_str.find('t')

2

In [92]:
my_str.find('x')

-1

In [91]:
my_str.index('t',3,9)

8

In [118]:
str1 = 'python3$'
str1.isalpha(), str1.isdigit(), str1.isalnum(),str1.isnumeric()

(False, False, False, False)

In [103]:
str2 = '123'
str2.isalpha(), str2.isdigit(), str2.isalnum(), str2.isnumeric()

(False, True, True, True)

In [104]:
str3 = 'python'
str3.isalpha(), str3.isdigit(), str3.isalnum(), str3.isnumeric()

(True, False, True, False)

In [105]:
str3.islower()

True

In [106]:
str4 ='Python'
str4.islower()

False

In [110]:
' '.isspace() , ''.isspace()

(True, False)

In [111]:
'1,2,3'.split(',')

['1', '2', '3']

In [112]:
'   word   '.strip(), '   word   '.lstrip(), '   word   '.rstrip()

('word', 'word   ', '   word')

In [115]:
'python'.upper(), 'Python'.lower(), 'Python'.swapcase()

('PYTHON', 'python', 'pYTHON')